.Prjdetail {
    position: absolute;
    margin-left: -398px;
}

#prj-desc {
    width: 688px;
    height: 207px;

    padding: 15px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

#dp {
    font-weight: 600;
    font-size: 17px;

    color: #414141;
}

#desc {
    font-size: 13px;
    color: #000000;

    text-align: justify;
}

#team-member {
    text-align: center;
    width: 320px;
    height: 207px;

    padding: 15px;
    margin-left: 30px;


    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#t-name {
    display: inline-table;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
}

#team-member .row b {
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    color: #B3B3B3;
}

#team-member .row p {
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    color: #000000;
}