label {
    float: left;
    margin-bottom: 7px;
    margin-right: 100px;
  }

  input {
    float: left;
    margin-right: -38px;
    margin-bottom: 17px;
    width: 400px;
    height: 35px;
    border-radius: 7px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    font-size: 20px;
  }