.ProjectDetail {
  position: absolute;
  margin-top: 1vh;
  margin-left: -31.5vw;
}

#prj-desc {

  width: 48.5vw;
  height: 26vh;
  position:relative;
  right: -200px;
  left: 350px;
  bottom:900px;
  padding: 2%;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

#dp {
  font-weight: 600;
  font-size: 1.3vw;

  color: #414141;
}

#desc {
  font-size: 0.97vw;
  color: #000000;

  text-align: justify;
}

#team-member {
  position:relative;
  right: -1200px;
  top:-1132px;
  text-align: center;
  width: 24vw;
  height: 26vh;

  padding: 13px;
  margin-left: 2vw;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

#t-name {
  display: inline-table;
  font-weight: normal;
  font-size: 0.85vw;
  color: #000000;
}

#team-member .row b {
  font-weight: bold;
  font-size: 0.85vw;
  line-height: normal;
  color: #B3B3B3;
}

#team-member .row p {
  margin-bottom: 0.8vh;
  font-weight: normal;
  font-size: 0.85vw;
  line-height: normal;
  color: #000000;
}
