.calendar-container,
.calendar,
.calendar-header,
.calendar-title,
.icon,
td,
tr {
    padding: 0;
    margin: 0;
}

.calendar-container {
    /* border: 2px solid skyblue ; */
    width: 200px;
}

.calendar {
    background-color: white;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    z-index:1;
}

.calendar-header {
    border-bottom: 1px black;
    font-size: 1.6em;
}

.calendar-header td {
    border-spacing: 0;
    padding-left: 5px;
}

.calendar-title {
    margin: 18px;
    margin-left: 15px;
    margin-right: 5px;
    font-size: 1.7em;
    color: #1F557F;
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

b {
    padding-left: 62px;
    padding-right: 0px;
}

#icon {
    cursor: pointer;
    margin-left: 55px;
    color:black;
}

.day,
.empty-slot,
.weekday {
    text-align: center;
    height: 40px;
    font-family: "Lato", sans-serif;
}

.weekday {
    font-size: 0.9em;
    font-weight: 600;
    width: 30px;
    height: 40px;
}

.day {
    font-size: 0.8em;
    font-weight: 500;
    width: 30px;
    height: 30px;
    line-height: 35px;
    font-family: "Lato", sans-serif;
    background-color: white;
    z-index: 1;
}

.colored-day {
    font-size: 0.8em;
    font-weight: 500;
    width: 30px;
    height: 30px;
    line-height: 35px;
    font-family: "Lato", sans-serif;
    background-color: #FF9441;
    color: white;
    z-index: 2;
    cursor: pointer;
}

.popup-content {
    background-color: #fff;
    color: black;
    padding:0px;
    padding-left: 10px;
    padding-bottom: 3px;
    margin-top: 20px;
    width: 260px;
    height: 70px;
    border: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.popup {
    display: none;
    position: absolute;
    z-index: 2;
    bottom: 47%;
    left: 57%;
    border: black solid 1px;
    border-radius: 6px;
}

.colored-day .popup {
    visibility: hidden;
    background-color: #FF9441;
    z-index:1;
    width: 270px;

}

.colored-day:hover .popup {
    visibility: visible;
    display: inline-block;
}

.row1,
.row2,
.row3 {
    text-align: left;
}

.name,
.button-delete,
.button-edit,
.time,
.author {
    height: 20px;
    width: 50%;
    margin: 0px;
    padding: 0px;
}

.name,
.time,
.author {
    float: left;
}

.button-delete,
.button-edit {
    width: 50px;
    padding:0px;
    color: gray;
    float: right;
}

/* .current-day {
    background-color: #4285f4;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color: white;
} */

.month-popup {
    position: absolute;
    padding: 5px;
    background: white;
    border: 2px solid black;
    margin: 0px;
}

.month-popup div {
    padding: 0.3em;
}

.menu-popup {
    position: absolute;
    background: white;
    border: 1px solid black;
    width: 120px;
    height: 27px;
}

h2 {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    margin: 0px;
    padding-top: 6px;;
    text-align: center;
    color: black;
}


.nav-arrow-left,
.nav-arrow-right {
    cursor: pointer;
    position: relative;
    top: 0.3em;
    font-size: 0.5em;
    width: 5px;
}

.month-year {
    height: 55px;
    width: 300px;
}

.editor-year {
    max-width: 3.6em;
}

.label-month,
.label-year {
    font-size: 0.8em;
    font-weight: 600;
}

.label-month {
    cursor: pointer;
}
