hr {
  margin-left: 10%;
  width: 400px;
  weight: bold;
  padding: 0%;
  height: 10px;
}

.modal-main {
  background-color: #fefefe;
  margin: auto;
  width: 400px;
  height: 550px;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
}

.display-block {
  font-size: 30px;
  padding: 7% 7% 0% 0%;
  margin-right: 170px;
  display: block;
}

.display-none {
  display: none;
}

button#simpanButton {
  width: 120px;
  height: 35px;
  left: 0px;
  top: 0px;
  margin-right: -10px;
  float: right;

  font-size: 20px;
  font-weight: bold;

  color: #ffffff;
  background: blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.batalButton {
  width: 120px;
  height: 35px;
  left: 0px;
  top: 0px;
  float: left;
  margin-left: 150px;
  margin-top: 0px;

  font-size: 20px;
  font-weight: bold;

  color: #bd1a33;
  border: #ffffff;
  background: red;
}
