body {
    font-family: Lato;
    font-style: normal;
    overflow-x: hidden;

    background: #F1F4FF;
  }

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;

    z-index: 2;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 11px;
  }

  #sidebar-wrapper .sidebar-heading #sidebar-title {
    margin-top: 10px;
    margin-left: -17px;
    font-weight: bolder;
  }
  
  #sidebar-wrapper .list-group {
    width: 18rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
    background: #F1F4FF;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

  #logo {
    width: 50px;
    height: 56px;
    left: 75px;
    top: 16px;
    
    transform: matrix(-1, 0, 0, 1, 0, 0); 
  }

  #sidebar-title {
    margin-bottom: 5px;
    font-size: 10px;

    margin-left: 20px;
  }

  #title {
      margin-left: -16px;
      font-size: 7px;
      font-weight: bold;
  }
  
  #dashboard {
    width: 39px;
    height: 25px;
    left: 18px;
    top: 112px;

    margin-right: 10px;
  }

  #project {
    width: 39px;
    height: 25px;
    left: 18px;
    top: 112px;

    margin-right: 10px;
  }

  #performa {
    width: 39px;
    height: 25px;
    left: 18px;
    top: 112px;

    margin-right: 10px;
  }

  #bg1 {
    width: 157px;
    height: 157px;
    left: 254px;
    top: 829px;

    margin-top: 425px;
    margin-left: -30px;
    z-index: 1;
  }
  #bg2 {
    width: 200px;
    height: 200px;
    left: 1165px;
    top: 763px;

    margin-top: -125px;
    margin-left: 875px;
    z-index: 1;
  }