.modal {
    display : block;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */

    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
  
.modal-content {
    background-color: #fefefe;
    margin-left: 50px;
    width: 480px;
    height: 550px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    z-index: 4;
  }

  .modal-title {
    font-size: 30px;
    padding: 7% 7% 0% 0%;
    margin-right: 170px;
    margin-left: 7%;
  }
  hr {
    margin-left: 10%;
    width: 400px;
    weight: bold;
    padding: 0%;
    height: 10px;
  }

.modal-main {
    background-color: #fefefe;
    margin: auto;
    width: 400px;
    height: 550px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
}

.display-block {
    font-size: 30px;
    padding: 7% 7% 0% 0%;
    margin-right: 170px;
    display: block;
}

.display-none {
display: none;
}

button#simpanButton {
    width: 120px;
    height: 35px;
    left: 0px;
    top: 0px;
    margin-right: -10px;
    float: right;
  
    font-size: 20px;
    font-weight: bold;
  
    color: #FFFFFF;
    background: blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
  }

  .batalButton {
    width: 120px;
    height: 35px;
    left: 0px;
    top: 0px;
    float: left;
    margin-left: 150px;
    margin-top: 0px;
    
      font-size: 20px;
      font-weight: bold;
    
      color: #BD1A33;
      border: #FFFFFF;
      background:red;
  }