.sidebar {
    font-family: inherit;
    background: #ffffff;
    height: 100vh;
    width: 17vw;
}

#logo {
    width: 2.8vw;
    height: auto;

    margin: 15% 15%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .col-xs-8 {
    margin-left: 27%;
    margin-top: -17%;
  }

  #sidebar-title {
    margin-bottom: 0.5vh;
    margin-left: 0.2vw;
    font-size: 1.5vh;
    font-weight: 700;
  }

  #title {
      margin-left: 0.2vw;
      font-size: 1vh;
      font-weight: 500;
  }

  #set {
    position: absolute;
    width: 0.6vw;
    height: 7.3vh;

    margin-top: -5.5vh;
    margin-left: 15.95vw;

    background: #1F557F;
  }

  #dashboard, #performa {
    width: 2.5vw;
    height: 3vh;

    margin-right: 1vw;
    margin-left: 1vw;

    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }

  #project {
    width: 2.5vw;
    height: 3.2vh;

    margin-right: 1vw;
    margin-left: 1vw;
  }

  #pj {
    color:  #1F557F;
    font-weight: 700;
    width: 18vw;
  }

  a.list-group-item.list-group-item-action {
    width: 18vw;
    margin-left: -1vw;
  }
