.Header {
    position: absolute;
    text-align: left;
    margin-top: 1.5%;
    margin-left: -30.5%;
}
.crumbs {
    margin-left: -1.5%;
}

.crumbs a {
    color: #414141;
}

.crumb {
    display: inline-block;
    font-weight: 400;
    font-size: 1vw;
    line-height: normal;

    color: #1F557F;
}

.crumb a::after {
    display: inline-block;
    color: #000000;
    content: '>';

    font-weight: 400;
    font-size: 1vw;
    line-height: normal;

    color: #414141;
}

#page-title {
    margin-top: 0.6vh;
    font-weight: 625;
    font-size: 1.5vw;
    color: #414141;
}
