.card {
    width: 682px;
    height: 100px;
    
    background: rgba(196, 196, 196, 0.3);
    border-radius: 12px;

    margin-top: 5px;
    margin-left: 10px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .card-header {
    width: 300px;
  }

  #byManager {    
      height: 24px;
      left: 986px;
      top: 861px;
      
      margin-top: -20px;
      margin-left: 20px;
      margin-right: 345px;
      padding-left: 10px;
      padding-top: 5px;
      
      color: #FFFFFF;
      font-size: 14px;
      font-weight: bold;
      background: #95BF44;
      border-radius: 7px 7px 0px 0px;
      transform: matrix(1, 0, 0, 1, 0, 0);
  }
  
  #commentManager {
      height: auto;
      width: 300px;
      left: 644px;
      top: 861px;
      
      font-size: 13px;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: -20px;
      margin-left: 0px;
      margin-right: 345px;
    
      color: #000000;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.3);
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 0px 0px 7px 7px;
  }
  
  #byStaff {    
      height: 24px;
      
      margin-top: 10px;
      margin-left: 355px;
      margin-right: 10px;
      padding-left: 10px;
      padding-top: 0px;
      
      color: #FFFFFF;
      font-weight: bold;
      font-size: 14px;
      background: #FF9441;
      border-radius: 7px 7px 0px 0px;
      transform: matrix(1, 0, 0, 1, 0, 0);
  }
  
  #commentStaff {
      height: auto;
      width: 300px;
      left: 644px;
      top: 861px;
      
      font-size: 13px;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: -20px;
      margin-left: 335px;
      margin-right: 10px;
    
      color: #000000;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.3);
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 0px 0px 7px 7px;
  }
  
  ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  }
  
  ::-webkit-scrollbar-track {
  border: 1px solid #B3B3B3;
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  background: #B3B3B3;  
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: #25A3F6;  
  }
  
  #hapus {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 110px;
    top: 2px;

    margin-top: 2.5px;
    margin-left: 145px;
  }
  
  #edit {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 115px;
    top: 2px;

    margin-top: 2.5px;
    margin-left: 160px;
  }