.Role {
    margin-top: 2%;
    margin-left: 68%;
    margin-bottom: 1%;
}

#name {
    font-size: 1.15vw;
    font-weight: 500;
}

#out {
    width: 1.5vw;
    height: 2.5vh;

    margin-left: 1vw;
    margin-top: 3vh;

    transform: rotate(180deg);
}

#level {
    margin-top: -2.3vh;;
    font-size: 0.9vw;
}
