#cb {
    margin-left: 1.5vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
}

#t {
    margin-top: -1.1vh;
    margin-left: -1vw;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    ::-webkit-scrollbar-track {
    border: 1px solid #B3B3B3;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background: #B3B3B3;  
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #25A3F6;  
    }

    #edit-task {
        height: 3.8vh;
        width: 4vw;
        border-radius: 0.5vw;
        color: #FFFFFF;
        font-size: 1vw;
        font-weight: 600;
        background: linear-gradient(180deg, #409AEF 0%, #00B0FF 100%); 
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #hapus-task {
        height: 3.8vh;
        max-width: 5vw;
        border-radius: 0.5vw;
        color: #FFFFFF;
        font-size: 1vw;
        font-weight: 600;
        background: linear-gradient(180deg, #FF3255 0%, #BD1A33 100%); 
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #t-det {
        margin-top: -0.5vh;
        margin-right: 1vw;
    }