section.modal-main {
    border-radius: 1vw;
    width: auto;
    height: auto;
    padding: 20px;
}

section.modal-main button {
    background: linear-gradient(180deg, #FF3255 0%, #BD1A33 100%);
    font-size: 2vh;
    color: #FFFFFF;
    margin-left: 1vw;
    border-radius: 0.5vw;
    border-color: transparent;
}

#simpan-task {
    background: linear-gradient(180deg, #409AEF 0%, #00B0FF 100%); 
    transform: matrix(1, 0, 0, 1, 0, 0);
    font-size: 2.3vh;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 5vh;
    margin-left: 35vw;
    border-radius: 0.5vw;
    border-color: transparent;
}

#line-ft {
    margin-top: -0.5vh;
    margin-bottom: 0.5vh;
}

#ft {
    margin-top: 2vh;
    margin-left: 1.1vw;
}

#dsc-task {
    font-size: 1.2vw;
    color: #414141;
}

#inp-task {
    margin-top: 1vh;
    border-radius: 1vh;
    width: 38.5vw;
    padding-left: 0.5vw;
}

#tbh-t {
    font-size: 1.5vw;
}