.Task {
    position: absolute;
    margin-left: 18vw;
    margin-top: -70vh;
}

#todo {
    margin-bottom: -1vh;
    margin-left: 1.3vw;

    font-weight: 900;
    font-size: 1.3vw;
    line-height: normal;

    color: #414141;
}

#linetd {
    width: 50.5vw;
    height: 1px;

    margin-left: 1vw;
    margin-bottom: 1.5vh;

    border-color: #FDDB17;
    background: #FDDB17;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

#allTask {
    width: 50vw;
    height: 22vh;

    margin-top: 1vh;
    margin-left: 1vw;
    margin-bottom: 1vh;
    padding: 15px;

    color: #000000;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;

    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }

    ::-webkit-scrollbar-track {
    border: 1px solid #B3B3B3;
    border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
    background: #B3B3B3;  
    border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
    background: #25A3F6;  
    }

    #btn-plus {
        margin-top: -1vw;
        margin-left: -1.1vw;
        margin-bottom: 1vh;
        color: #B3B3B3;
    }